.explorer-item {
    width: 100%;
    display: flex;
    min-height: 30px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 16px;
    align-items: center;

   @media screen and (max-width: 760px) {
      font-size: 12px;
   }
 
 .eth, 
 .algo, 
 .amount {
    width: 40%;
 }

}